# Git (as requested)
.git

# Virtual Environment
myvenv.nosync/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
*.db
*.sqbpro


# SQLite temporary and lock files
*.db-journal
*.db-wal
*.db-shm

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store
